/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: times;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: darkslategrey;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: lightblack;
  color: white;
}
body {
  background: snow;
  opacity: 1;
}
.explanation {
  font-family: serif;
  text-align: center;
}
.description {
  text-align: center;
  border: 1px groove black;
  background-color: black;
  color: white;
  font-family: times;
  margin-bottom: 70px;
}
.logo {
  text-align: center;
}
.error {
  font-family: times;
  font-weight: lighter;
}
.error2 {
  font-family: times;
  font-weight: lighter;
}
.Copy {
  text-align: center;
  border: 1px groove black;
  background-color: black;
  color: white;
}
